/* Theme Source: /home/kiriketsuki/dots/styles/sunny_beach_day.css */
@define-color color-0 #e76f51;
@define-color text-color-0 #2E3138;
@define-color color-1 #e9c46a;
@define-color text-color-1 #264653;
@define-color color-2 #2a9d8f;
@define-color text-color-2 #2E3138;
@define-color color-3 #f4a261;
@define-color text-color-3 #264653;
@define-color color-4 #264653;
@define-color text-color-4 #e9c46a;
