/* Theme Source: /home/kiriketsuki/dots/styles/deep_ocean_blue.css */
@define-color color-0 #212f45;
@define-color text-color-0 #ffffff;
@define-color color-1 #3e1f47;
@define-color text-color-1 #ffffff;
@define-color color-2 #006466;
@define-color text-color-2 #ffffff;
@define-color color-3 #144552;
@define-color text-color-3 #ffffff;
@define-color color-4 #065a60;
@define-color text-color-4 #ffffff;
@define-color color-5 #4d194d;
@define-color text-color-5 #ffffff;
@define-color color-6 #312244;
@define-color text-color-6 #ffffff;
@define-color color-7 #1b3a4b;
@define-color text-color-7 #ffffff;
@define-color color-8 #0b525b;
@define-color text-color-8 #ffffff;
@define-color color-9 #272640;
@define-color text-color-9 #ffffff;
