/* Theme Source: /home/kiriketsuki/dots/styles/pastel.css */
@define-color color-0 #f1e4fd;
@define-color text-color-0 #2E3138;
@define-color color-1 #bb729f;
@define-color text-color-1 #2E3138;
@define-color color-2 #748ab2;
@define-color text-color-2 #2E3138;
@define-color color-3 #ca7fbc;
@define-color text-color-3 #2E3138;
@define-color color-4 #bbd1ee;
@define-color text-color-4 #2E3138;
@define-color color-5 #d79dd9;
@define-color text-color-5 #2E3138;
@define-color color-6 #ab6581;
@define-color text-color-6 #FFF8F0;
@define-color color-7 #e4bbf7;
@define-color text-color-7 #2E3138;
@define-color color-8 #8f9ed5;
@define-color text-color-8 #2E3138;
@define-color color-9 #a5b7e2;
@define-color text-color-9 #2E3138;
