/* Theme Source: /home/kiriketsuki/dots/styles/palette.css */
@define-color color-0 #3e444d;
@define-color text-color-0 #FFF8F0;
@define-color color-1 #666871;
@define-color text-color-1 #FFF8F0;
@define-color color-2 #7f8291;
@define-color text-color-2 #FFF8F0;
@define-color color-3 #444c55;
@define-color text-color-3 #FFF8F0;
@define-color color-4 #4d5159;
@define-color text-color-4 #FFF8F0;
@define-color color-5 #717380;
@define-color text-color-5 #FFF8F0;
@define-color color-6 #585c64;
@define-color text-color-6 #FFF8F0;
