/* Theme Source: /home/kiriketsuki/dots/styles/deep_ocean_blue.css */
@define-color color-0 #312244;
@define-color text-color-0 #FFF8F0;
@define-color color-1 #144552;
@define-color text-color-1 #FFF8F0;
@define-color color-2 #212f45;
@define-color text-color-2 #FFF8F0;
@define-color color-3 #1b3a4b;
@define-color text-color-3 #FFF8F0;
@define-color color-4 #272640;
@define-color text-color-4 #FFF8F0;
@define-color color-5 #0b525b;
@define-color text-color-5 #FFF8F0;
@define-color color-6 #065a60;
@define-color text-color-6 #FFF8F0;
@define-color color-7 #3e1f47;
@define-color text-color-7 #FFF8F0;
@define-color color-8 #4d194d;
@define-color text-color-8 #FFF8F0;
@define-color color-9 #006466;
@define-color text-color-9 #FFF8F0;
