* {
    background:     #161821;
    background-alt: #252836;
    background-alpha: rgba(22, 24, 33, 0.85);
    foreground:     #e0e2ea;
    selected:       #197278;
    active:         #14664e;
    urgent:         #FBB13C;
    
    foreground-selected: #ffffff;
    foreground-active:   #e0e2ea;
    foreground-urgent:   #000000;
}
