* {
    background:     #493e30;
    background-alt: #3c3125;
    background-alpha: rgba(73, 62, 48, 0.85);
    foreground:     #FFF8F0;
    selected:       #a29dab;
    active:         #594c3e;
    urgent:         #30261a;
    
    foreground-selected: #000000;
    foreground-active:   #FFF8F0;
    foreground-urgent:   #FFF8F0;
}
