:root {
    --deep-teal: #006466;
    --dark-cyan: #065a60;
    --ocean-blue: #0b525b;
    --navy-blue: #144552;
    --midnight-blue: #1b3a4b;
    --dark-indigo: #212f45;
    --deep-purple: #272640;
    --royal-purple: #312244;
    --plum: #3e1f47;
    --magenta-dark: #4d194d;
}
