:root {
    --darkslategray: #353539;
    --darkslategray-2: #4c443e;
    --darkslategray-3: #334d5e;
    --steelblue: #2c6d96;
    --cornflowerblue: #2791df;
    --lightsteelblue: #95b4ed;
    --black: #000000;
}