:root {
    --dimgrey: #676972;
    --lightslategrey: #808391;
    --dimgray: #5a5d65;
    --dimgrey-2: #50545c;
    --slategrey: #727581;
    --darkslategrey: #484c54;
    --darkslategrey-2: #3f4750;
}