:root {
    --rose-pink: #ab6581;
    --soft-pink: #bb729f;
    --orchid: #ca7fbc;
    --lavender: #d79dd9;
    --pale-purple: #e4bbf7;
    --white-lilac: #f1e4fd;
    --baby-blue: #bbd1ee;
    --periwinkle: #a5b7e2;
    --cornflower: #8f9ed5;
    --steel-blue: #748ab2;
}
